.thumbnail-preview {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
}

.thumbnail-preview-caption {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 175ms ease-in-out;
  color: #fff;
  background-color: rgba(0,0,0,0.75);
  font-size: 12px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
}

.thumbnail-preview-placeholder {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  transition: all 175ms ease-in-out;
  color: #0f0f0f;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.75);
}

.btn-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: #ffbaba;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  cursor: pointer;
  transition: all 175ms ease-in-out;
  transform: translateY(-5px);
  opacity: 0;
}

.btn-remove:hover {
  background: #da7575;
}

.thumbnail-container:hover .thumbnail-preview-caption {
  opacity: 1;
  cursor: pointer;
}

.thumbnail-container:hover .thumbnail-preview-placeholder {
  cursor: pointer;
}

.thumbnail-container:hover .btn-remove {
  transform: translateY(0px);
  opacity: 1;
}

.thumbnail-preview-image-container {
  width: 100%;
  height: 100%;
}

.thumbnail-preview-image {
  display: block;
  width: 100%;
  height: 100%;
}

.thumbnail-preview-placeholder {

}

.thumbnail {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
}

.thumbnail-container {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
}

.cropper-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid #dae1e3;
  padding-top: 10px;
  margin-top: 10px;
}

.cropper-controls-container button {
  margin: 0 5px;
}

.cropper-controls-container button:last-child {
  margin: 0;
}

.thumbnail-spinner-container {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.75);
}

.spinner {
  width: 20px;
  height: 20px;
  background-color: #fff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.avatar-management-container {

}
